<%- include("header") %>



    <body>


        <div class="date">
            <% for(var i=0;i<data.length;i++){%>
            <h2>
                Blog <%= i+1 %>
            </h2>
            <h4>
                <%= data[i].Title %>
            </h4>
            <p> <%= data[i].Blog %> </p>
            <% } %>
        </div>
    </body>
<%- include("footer") %>